{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-prisma"
  ],
  "importOrder": [
    "@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@configs/(.*)$",
    "^@shared/(.*)$",
    "^@modules/(.*)$",
    "^@generated/(.*)$",
    "^@src/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript"
  ]
}
